.fix{
    background: url(img.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#sociallinks{
width: 55px;
height: 35px;
float:left;
padding-left: 13px;
}
.logo{
width: 50px;
}

.it{
padding-top: 40px;
padding-left:100px;
}
.mission{
color: white;
font-size: 1.5em;
text-align: center;
padding-top: 60px;
padding-left: 10px;
font-family: 'Roboto', sans-serif;
}
